.orders{
    padding: 20px 40px;
    background-color: rgb(234,237,237);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.orders-order{
    padding: 20px 40px;
    width: 100%;
    background-color: white;
    min-height: 450px;
    position: relative;
}
.orders > h1{
margin: 30px 0;
}
.totalValue{
   position: absolute;
   bottom: 20px;
   right: 40px;
}